.small_pizza{
background-color: #97cc04;
flex:1;
}

.medium_pizza{
background-color: #d81159;  
flex:1; 
}
.large_pizza{
background-color: #f4e04d;
flex:1;
}
footer{
    background-color: #0496ff;
    text-align: center;
}
.border{
    border: 1px solid inherit;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
}
body{
    background-color: #cf7526;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
@media(min-width:960px){
.container{
    display: flex;
}
}